.main-grid{
    width: 85%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.grid-card{
    background: #121212;
    border: 2px solid #303030;
}

.grid-card img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.pro-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.pro-btn button{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    background: #fff;
}