.hero{ 
    padding: 120px 0;
    background: #0C0C0C;
    padding-bottom: 0;
}


.hero h2{
    font-size: 40px;
    line-height: 50px;
    font-family:'Monument-Bold';
    margin: 20px 0;
    padding: 0 5%;
}

.hero span{
    font-size: 18px;
    font-family:'Satoshi-Medium';   
    color: #ccc;
}

.hero-img{
    margin-top: 40px;
    display: flex;
    gap: 20px;
    padding-left: 5%;
}

.line-about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-line{
    width: 100px;
    height: 2px;
    background: #E8E8E8;
}

.hero-image{
    width: 500px;
    height: 400px;
    object-fit: cover;
}

.more-box{
    text-align: center;
    font-family:'Satoshi-Medium';
    color: #E8E8E8;
    background: #161616;
    border-radius: 20px;
    padding: 20px;
    transition: all ease-in 0.4s;
}

.more-box:hover{
    background: #6E18BB;
}




@media screen and (max-width:900px){
    .hero{ 
        padding: 120px 0;
        background: #0C0C0C;
        padding-bottom: 0;
    }

    .hero h2{
        font-size: 28px;
        line-height: 38px;
        font-family:'Monument-Bold';
        margin: 20px 0;
        padding: 0 5%;
    }

    .hero-img{
        overflow-x: scroll;
    }

    
    .hero-line{
        width: 60px;
        height: 2px;
        background: #E8E8E8;
    }

    .hero-image{
        width: 200px;
        height: 300px;
        object-fit: cover;
    }

    .hero-img::-webkit-scrollbar {
        width: 8px;
        scroll-behavior: smooth;
        display: none;
      }
}