.hero{ 
    padding: 120px 0;
    padding-bottom: 0;
    text-align: center;
}


.hero h2{
    font-size: 40px;
    line-height: 50px;
    font-family:'Monument-Bold';
    margin: 20px 0;
    padding: 0 5%;
    margin-bottom: 100px;
    color: #0d0c22;
}

.carousel{
    display: flex;
    gap: 10px;
    overflow-x: hidden; /* Hide the horizontal scrollbar */
    white-space: nowrap; /* Prevent line breaks inside the carousel */
    overflow-y: hidden;
}

.carousel-box{
    width: 390px;
    border: 1px solid #ccc;
    display: inline-block; /* Display as inline-block to fit within the carousel */
}

.carousel-box img{
    width: 390px;
}


@media screen and (max-width:900px){
    .hero{ 
        padding: 120px 0;
        background: #0C0C0C;
        padding-bottom: 0;
    }

    .hero h2{
        font-size: 28px;
        line-height: 38px;
        font-family:'Monument-Bold';
        margin: 20px 0;
        padding: 0 5%;
    }

}
