.hero{ 
    padding-bottom: 0;
    padding: 0 10%;
    padding-top: 120px;
    font-family:'Monument-Regular';
    background: #412E70;
    overflow: hidden; /* Prevent overflow */
    padding-bottom: 60px;
}

.head-flex{
    display: flex;
    justify-content: space-between;
    background: #412E70;
}

.hero-head{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-basis: 48%;
    width: 100%;
    background: #412E70;
}


.hero-head h2{
    font-size: 40px;
    line-height: 60px;
    background: #412E70;
    color: #A18DC8;
    font-family:'Monument-Regular';
}

.hero-head p{
    margin-top: 10px;
    font-size: 10px;
    font-family:'Monument-Regular';
    line-height: 24px;
    background: #412E70;
    color: #c7b0f5;
}


.hero-text{
    height: 100%;
    flex-basis: 48%;
    background: #412E70;
}


.insight {
    position: relative;
    overflow: hidden;
}

.insight-2022 {
    width: 100%;
}

.insight-2022 img{
    width: 100%;
}

.insight button {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
    height: 70px;
    font-size: 10px;
    padding: 20px;
    border-radius: 50%;
    font-family:'Monument-Regular';
    border: 2px solid #fff;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in 0.5s;
}

.insight button:hover{
    background: rgba(65, 46, 112, 0.7); /* 70% opacity */
}

.carousel{
    display: none;
    gap: 10px;
    overflow-x: hidden; /* Hide the horizontal scrollbar */
    white-space: nowrap; /* Prevent line breaks inside the carousel */
    overflow-y: hidden;
}

.carousel-box{
    width: 390px;
    border: 1px solid #ccc;
    display: inline-block; /* Display as inline-block to fit within the carousel */
}

.carousel-box img{
    width: 390px;
}


@media screen and (max-width:900px){
    .hero{ 
        padding: 0 7%;
        padding-top: 120px;
        padding-bottom: 60px;
        flex-direction: column;
    }

    .hero-head h2{
        font-size: 32px;
        line-height: 48px;
        font-family:'Monument-Bold';
        text-align: left;
    }

    .head-flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #412E70;
    }

    .hero-head{
        flex-basis: 100%;
        background: #412E70;
    }

    .hero-text{
        margin-top: 10px;
        flex-basis: 50%;
        background: #412E70;
    }


    .insight{
        max-height: none;
        margin-top: 40px;
        position: relative;
        overflow: hidden;
    }

    .insight button {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 80px;
        height: 80px;
        padding: 20px;
        border-radius: 50%;
        border: 2px solid #fff;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all ease-in 0.5s;
    }
    


}
