.cta{
    padding: 0 10%;
    padding-top: 100px;
    margin: 0 auto;
    overflow: hidden; /* Prevent overflow */
    display: flex;
    font-family:'Monument-Regular';
    gap: 100px;
    background: #131315;
    color: #aaa;
}

.cta-head{
  width: 100%;  
}

.cta-body{
  width: 100%;
  font-size: 16px;
  font-family: 'Aeonik-Regular';
  line-height: 28px;
}

@media screen and (max-width:900px){
    .cta{
        padding: 0 7%;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .cta-body{
      width: 100%;
      font-size: 14px;
      line-height: 22px;
    }
}