.nav{
    position: fixed;   
    z-index: 99;
    background: transparent;
}


.navbar{
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    font-family:'Monument-Regular';
    color: #E8E8E8;
    background: #0d0c22;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
}

.logo a{
    background: #161616;  
    color: #E8E8E8;
}

.nav-btn button{
    background: #0d0c22;
  color: #ffff;
  font-family:'Monument-Regular';
  padding: 12px 20px;
  border-radius: 60px;
  cursor: pointer;
}


@media screen and (max-width:900px){
    .navbar{
        padding: 1em;
    }  

    .nav-item{
        list-style: none;
        position: relative;
        margin-bottom: 30px;
    }

    .nav-item a{
        font-size: 2em;    
    }
}