.stack{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 130px;
}

.stack span{
    text-transform: uppercase;
    font-size: 14px;
    font-family:'Satoshi-Bold';
    text-align: center; 
}

.stack-box{
  width: 60%;  
  margin: 0 auto;
  margin-top: 30px;
}

.stack-box p{
    font-size: 24px;
    font-family:'Satoshi-Medium';
    text-align: center;
}

.job{
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;  
}

.job span{
    text-transform: uppercase;
    font-size: 14px;
    font-family:'Satoshi-Bold';
    text-align: center; 
}

.job-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-top: 80px;
}

.job-left{
    flex-basis: 45%;
}

.headphone{
    width: 70%;
    margin-left: 100px;
}

.design span{
    color: #3b3b3b;  
}

.design p{
    font-size: 24px;
    font-family:'Satoshi-Medium';  
    margin-top: 10px;
}

.development{
    margin-top: 60px;
}


.development span{
    color: #3b3b3b;  
}

.development p{
    font-size: 24px;
    font-family:'Satoshi-Medium';  
    margin-top: 10px;
}

.interest{
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.interest span{
    text-transform: uppercase;
    font-size: 14px;
    font-family:'Satoshi-Bold';
    text-align: center; 
}

.interest-box{
  width: 60%;  
  margin: 0 auto;
  margin-top: 30px;
}

.interest-box p{
    font-size: 24px;
    font-family:'Satoshi-Medium';
    text-align: center;
}

.Marquee{
    background: #fff;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}

.Offerline{
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 15px 0;
    text-align: center;
}

.Offerline-marquee{
    background: #fff;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 60s linear infinite;
}

.Offerline-marquee p{
    background: #fff;
    display: inline-block;
    font-family:'Satoshi-Bold';
    font-size: 126px; 
}


@keyframes Marquee{
    0%{
        transform: translate3d(0px, 0px, 0px);
    }
    100%{
        transform: translate3d(-50%, 0px, 0px);
    }
}

@media(max-width:768px){ 
    .Marquee{
        margin-top: 50px;
    }
    
    .Offerline{
        padding: 10px 0;
    }

    .Offerline-marquee p{
        background: #fff;
        display: inline-block;
        font-family:'Satoshi-Bold';
        font-size: 64px; 
    }
        
 }

@media screen and (max-width:900px){
    .stack-box{
        width: 80%;  
        margin: 0 auto;
        margin-top: 30px;
    } 

    .job{
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;  
    }

    .job-box{
        flex-direction: column;
    }

    .job-left{
        flex-basis: 100%;
    }

    .design {
        text-align: center;
    }

    .development{
        text-align: center; 
    }

    .interest{
        margin-top: 50px;
    }

    .interest-box{
        width: 80%;  
        margin: 0 auto;
    }   
}
