.hero{
    padding-top: 130px;
    padding-bottom: 70px;
    background: #f1f1f1;
}

.hero-con{
    width: 90%;
    margin: 0 auto;
}

.hero-con h2{
    font-size: 136px;
    line-height: 136px;
    font-family:'Satoshi-Bold';
}

.more-bio{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more-left{
    display: flex;
    align-items: center;
    flex-basis: 55%;
}


.more-left h2{
    font-family:'Satoshi-Bold';  
    margin-right: 5px;  
}

.more-left span{
    font-size: 48px;
    line-height: 48px;
    font-family:'Satoshi-Bold';   
}

.more-right{
    flex-basis: 40%;
}

.more-right p{ 
    margin-bottom: 5px;  
  font-size: 28px;
  font-family:'Satoshi-Medium';
  color: #5e5c5c;
}

.more-right span{
    color: #5e5c5c;
    font-family:'Satoshi-Medium'; 
    border: 1px solid #5e5c5c;
}


@media screen and (max-width:900px){
    .hero-con h2{
        font-size: 48px;
        line-height:48px;
        font-family:'Satoshi-Bold';
    }

    .more-bio{
        margin-top: 30px;
        flex-direction: column;
        gap: 50px;
    }

    .more-left{
        flex-basis: 100%;
    }

    .more-right{
        flex-basis: 100%;
    }

    .more-left span{
        font-size: 28px;
        line-height: 28px;
        font-family:'Satoshi-Bold';   
    }

    .more-right p{   
        font-size: 20px;
        font-family:'Satoshi-Medium';
        color: #3b3b3b;
      }
}