.projects{
    width: 90%;
    margin: 0 auto;
    padding-top: 130px;
}

.project-con{
    margin-top: 30px;
}

.expand{
    display: flex;
    gap: 20px;
}

.expand button{
    background: #fff;
    cursor: pointer;
}

.web-apps span{
    background: #000;
    padding: 15px 25px;
    border-radius: 30px;
    font-family:'Satoshi-Medium';
    color: #fff;
    margin-bottom: 20px;
}

.project-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 20px 0;
    cursor: pointer;
}

.splitting .word {
    font-size: 64px;
    font-family:'Satoshi-Bold';
    color: #000;
}

.project-box span{
    background: transparent;
    padding: 0;
    color: #3b3b3b;
    font-size: 24px;
    font-family:'Satoshi-Bold';
    margin-top: 20px;
}

.websites{
    margin-top: 100px;
}

.websites span{
    background: #000;
    padding: 15px 25px;
    border-radius: 30px;
    font-family:'Satoshi-Medium';
    color: #fff;
    margin-bottom: 20px;  
}


.website-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 20px 0;
    cursor: pointer;
}

.website-box p{
    font-size: 64px;
    font-family:'Satoshi-Bold';
}

.website-box span{
    background: transparent;
    color: #3b3b3b;
    font-size: 24px;
    font-family:'Satoshi-Bold';
    margin-top: 20px;
    padding: 0;
}

.plugins{
    margin-top: 100px;
}

.plugins span{
    background: #000;
    padding: 15px 25px;
    border-radius: 30px;
    font-family:'Satoshi-Medium';
    color: #fff;
    margin-bottom: 20px;  
}


.plugin-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 20px 0;
    cursor: pointer;
}

.plugin-box p{
    font-size: 64px;
    font-family:'Satoshi-Bold';
}

.plugin-box span{
    background: transparent;
    color: #3b3b3b;
    font-size: 24px;
    font-family:'Satoshi-Bold';
    margin-top: 20px;
    padding: 0;
}

.Offerline-marquee img{
    background: #fff;
    display: inline-block;
    width: 450px;
    height: 350px;
    object-fit: cover;
}

@media screen and (max-width:900px){
    .project-box{
        padding: 5px 0;
        cursor: pointer;
    }
    .website-box{
        padding: 5px 0;
        cursor: pointer;
    }
    .plugin-box{
        padding: 5px 0;
        cursor: pointer;
    }

    .splitting .word{
        font-size: 32px;
        font-family:'Satoshi-Bold';
    }
    
    .project-box span{
        font-size: 16px;
    }

    .website-box p{
        font-size: 20px;
        font-family:'Satoshi-Bold';
    }
    
    .website-box span{
        font-size: 16px;
    }
     
    .plugin-box p{
        font-size: 20px;
        font-family:'Satoshi-Bold';
    }
    
    .plugin-box span{
        font-size: 16px;
    }
}

@media(max-width:900px){
    .Offerline-marquee img{
        background: #fff;
        display: inline-block;
        width: 280px;
        height: 200px;
        object-fit: cover;
    } 
}

