.work {
  padding: 0 10%;
  margin: 0 auto;
 padding-top: 100px;
 padding-bottom: 100px;
  overflow: hidden; /* Prevent overflow */
  background: #131315;
  color: #aaa;
}

.work-con h2 {
  font-size: 40px;
  font-family:'Monument-Regular';
  background: transparent;
}

.work-con h4 {
  margin-top: 5px;
  font-size: 14px;
  font-family:'Monument-Regular';
  color: #b6b6b6;
}

/* Filters */
.filters {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background: #131315;
}

.filters button {
  padding: 10px 20px;
  border: 2px solid #202020;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Monument-Regular';
  font-size: 12px;
  background: #131315;
  color: #aaa;
}

.filters button:hover {
  background-color: #161616;
  color: #161616;
}

.filters button.active {
  background-color: #E8E8E8;
  border: 2px solid #161616;
  color: #161616;
}

.filters button:hover:not(.active) {
  color: #E8E8E8;
}


.main-grid {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap; /* Add this line */
}

.grid-card {
  flex: 1 1 calc(45.55% - 10px); /* Adjust this to control card width */
  box-sizing: border-box; /* Ensure padding and border are included in the total width */
}

.grid-card img {
  width: 100%;
  object-fit: cover;
}

.pro-con {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  gap: 0px;
}

.pro-text p{
   color: #d3d3d3;
    font-size: 18px;
    font-family: 'Monument-Regular';
    line-height: 28px;
    margin-bottom: 10px;
  letter-spacing: 1.5px;
}

.view-project{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #636363;
  padding-top: 15px;
}


.view-project span{
  font-size: 16px;
  font-family: 'Aeonik-Regular';
}

.view-project a{
  color: #aaa;
  font-family: 'Aeonik-Regular';
  text-decoration: underline;
}




/* Media Queries for smaller screens */
@media screen and (max-width: 900px) {
  .work {
      padding: 0 7%;
      padding-top: 60px;
      padding-bottom: 60px;
  }

  .work-box {
      flex-direction: column;
  }

  .work-con h2 {
      font-size: 32px;
  }

  .work-con h4 {
      margin-top: 15px;
      font-size: 14px;
      
  }

  .filters button {
    font-size: 10px;
  }

  .pro-text p{
    margin-bottom: 10px;
    letter-spacing: 1.5px;
  }
  
  .pro-text span{
    font-size: 10px;
    font-family:'Monument-Regular';
  }
 
}
