.footer{
  background: #412E70;
  padding: 5% 10%;
  font-family: 'Monument-Regular';
}

.footer div {
  background: #412E70;
}

.footer span{
  background: #412E70;
  color: #A28EC9;
}

.footer-con{
    display: flex;
    justify-content: space-between;
    background: #412E70;
    margin-top: 100px;  
    font-size: 10px;
}

.footer-con div{
  background: #412E70;
}

.footer-links{
    display: flex;
    gap: 20px;
    background: #412E70;
    margin-top: 15px;
}

.fliptext{
    font-size: 10px;
    color: #A28EC9;
    position: relative;
    display: inline-block;
    padding: 5px;    
    transition: transform 0.3s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    border: 2px solid #A28EC9;
    border-radius: 20px;
    background: #412E70;
 }

 .fliptext:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #6E18BB;
    content: attr(data-hover);
    transition: color 0.5s;
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
    text-align: center;
    border: 1px solid #6E18BB;
    border-radius: 20px;
  }

  .fliptext:hover{
    transform: rotateX(90deg) translateY(-22px);
  }

  .copyright{
    display: flex;
    align-items: flex-end;
    gap: 30px;
    background: #412E70;
  }

  .copyright div{
    background: #412E70;
  }

  .copyright div p{
    background: #412E70;
    margin-top: 15px;
    font-size: 12px;
    color: #A28EC9;
  }

  .copyright div span{
    background: #412E70;
    font-size: 10px;
  }

  .copyright p{
    font-size: 16px;
    background: #412E70;
    font-size: 12px;
  }
  

  @media screen and (max-width:900px){
    .footer{
      background: #412E70;
      padding: 10% 7% ;
      font-family: 'Monument-Regular';
    }
    
    .footer span{
      background: #412E70;
      color: #A28EC9;
      font-size: 12px;
    }

    .footer-con{
        flex-direction: column;
    }
    
    .footer-links{
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      background: #412E70;
      margin-top: 15px;
  }

    .copyright {
      flex-direction: column;
        margin-top: 50px;
        align-items: flex-start;
    }
  }
