*{
  margin: 0;
  padding: 0;    
  text-decoration: none;
  box-sizing: border-box;
  background: #131315;
  color: #F8F8FA;
  letter-spacing: 1.5px;
}

h2{
  font-family: 'Monument-Bold';
  font-size: 40px;
  line-height: 60px;
}

@media screen and (max-width:900px){
  
h2{
  font-size: 28px;
  line-height: 44px;
}
}


@font-face {
  font-family: 'Gellix-Bold';
  src: url(./Fonts/Satoshi_Complete/Fonts/OTF/Gellix-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Gellix-Medium';
  src: url(./Fonts/Satoshi_Complete/Fonts/OTF/Gellix-Medium.ttf) format('opentype');
}

@font-face {
  font-family: 'Gellix-Regular';
  src: url(./Fonts/Satoshi_Complete/Fonts/OTF/Gellix-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Monument-Bold';
  src: url(./Fonts/Satoshi_Complete/Fonts/OTF/MonumentExtended-Ultrabold.otf) format('opentype');
}

@font-face {
  font-family: 'Monument-Regular';
  src: url(./Fonts/Satoshi_Complete/Fonts/OTF/MonumentExtended-Regular.otf) format('opentype');
}


