*{
  margin: 0;
  padding: 0;    
  text-decoration: none;
  box-sizing: border-box;
  letter-spacing: 1.5px;
}




@font-face {
  font-family: 'Aeonik-Bold';
  src: url(./Fonts/Satoshi_Complete/Fonts/OTF/AeonikTRIAL-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Aeonik-Regular';
  src: url(./Fonts/Satoshi_Complete/Fonts/OTF/AeonikTRIAL-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Aeonik-Light';
  src: url(./Fonts/Satoshi_Complete/Fonts/OTF/AeonikTRIAL-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Monument-Bold';
  src: url(./Fonts/Satoshi_Complete/Fonts/OTF/MonumentExtended-Ultrabold.otf) format('opentype');
}

@font-face {
  font-family: 'Monument-Regular';
  src: url(./Fonts/Satoshi_Complete/Fonts/OTF/MonumentExtended-Regular.otf) format('opentype');
}


