.slide-in{
    background: #0f0f0f;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    transform-origin: bottom;
}

.slide-out{
    position: fixed;
    background: #0f0f0f;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    transform-origin: top;
}